/* Cascading Style Sheet for Renewed Touch Massage*/

.selector-for-some-widget {
    box-sizing: border-box;
}

#default-logo {
    background-position: left bottom;
    width: 130px;
    height: 130px;
    display: inline-block;
    float: left;
}
header, main, nav, footer, figure, aside, section, article {display: block;}

body {
    background-color: darkseagreen;
    color: darkslategray;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    }

header {
    background-color: #fffece;
    color: darkslategrey;
    width: auto;
    height: 150px;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    padding-top: 1px;
    padding-right: 15em;
    }
h1 {
    margin-bottom: 3em;
    margin-top: 1em;
    font-size: 3em;
    letter-spacing: 0.20em;
}

nav {
    font-weight: bold;
    text-align: center;
    padding: 1.5em;
    float: left;
    width: 120px;
    }

nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: #FFFFFF 3px outset;
    padding: 1em;
    margin-bottom: 1em;
    }

nav ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;
    }

nav a:link {
    color: darkslategrey;
    }

nav a:visited {
    color: darkslategray;
    }

nav a:hover {
    color: #bb2ee6;
    border: 3px inset #333333;
    background-color: #FFFFFF;
    transition: background-color 3s ease-out;
    }
h2 {
    color: darkslategrey;
    text-shadow: 1px 1px darkseagreen;
    }

dt {
    color: #544a65;
    }

h1, h2, h3, footer {
    font-family: Georgia, "Times New Roman", Times, serif;;
    }

h3 {
    color: #016e69;
    }

main {
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    background-image: linear-gradient(to bottom, #FFFECE, goldenrod);
    margin-left: 190px;
    padding-left: 10px;
    }

footer {
    font-size: 100%;
    font-style: oblique;
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, #FFFECE, darkslategray);
    background-color: #eeff65;
    margin-right: 190px;
    clear: both;
    }
li {font-size: 90%;}

form {padding: 3em;}

#floatright {float: right; margin-left: 4em;}

#clear {clear: both;}

#contact {
    font-size: 90%;
    }
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: darkseagreen;
    min-width: 550px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px darkslategrey;
    border-width: 1px;
    border-color: rebeccapurple;
    background-image: linear-gradient(to bottom, #FFFECE, goldenrod);
    /*background-repeat: no-repeat;*/
    }
#homehero, #servicesofferedhero, #schedulehero, #abouttherapisthero, #aboutsession {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 190px;
    }
#homehero {
    background-image: url(../images/curehands.jpg);}

#servicesofferedhero {
    background-image: url(../images/doingmassage.jpg);}

#schedulehero {
    background-image: url(../images/whitecandle.jpg);}

#abouttherapistherohero {
    background-image: url(../images/KellyBartyczakGFsq.jpg);}

#aboutsessionhero {
    background-image: url(../images/twowomanchatting.jpg);}


#mobile {
    display: none;
}
#desktop {
    min-width: 64em;
    display: inline;
}
.text {
    text-align: right;
}

tr:nth-of-type(odd){
    background-color: #F5FAFC;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, text area {
    display: block;
    margin-bottom: 20px;
}

input [type="submit"] {
    margin-left: 130px;
}

video, embed, video a {
    float: right;
    padding-left: 20px;
}

figure {
    position: absolute;
    left: 280px;
    text-align: center;
}


/* Tablet Display Style Rules */
@media only screen and (max-width: 64em) {

    body {
        margin: 0;
        background-color: #FFFFFF;
    }

    #wrapper {
        min-width: auto;
        width: auto;
        box-shadow: none;
        border: none;
    }

    header {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0;
        height: auto;
    }

    h1 {
        letter-spacing: 0.1em;
    }

    main, footer {
        margin-left: 0;
    }

    main {clear:both}

    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }

    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    #homehero, #servicesofferedhero, #schedulehero, #abouttherapisthero, #aboutsession {
        margin-left: 0;
        height: 200px;
    }

    /* Mobile-Smart Phone Display Rules */
    @media only screen and (max-width: 37.5em) {

        main {
            padding-top: 0.1em;
            padding-bottom: 0.1em;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 90%;
        }

        h1 {
            font-size: 2em;
        }

        nav {
            padding: 0;
        }

        nav li {
            display: block;
            margin: 0;
            border: 2px solid #330000;
        }

        nav a {
            display: block;
        }

        #homehero, #servicesofferedhero, #schedulehero, #abouttherapisthero, #aboutsession {
            background-image: none;
            height: 0;
        }
        #mobile {
            display: inline;
        }
        #desktop {
            display: none;
        }
        label {
            float: none;
            text-align: left;
        }
        input [type="submit"]{
            margin-left: 0;
        }
        video, embed, video a {
            float: none;
        }
        #gallery {
            display: none;
        }
    }
}
